header{
    position: fixed;
    width: 100%;
    z-index: 999;
    line-height: 45px;
    box-shadow: 1px 0px 5px 0 #ccd0d9;
    background-color: #fff;
}
header .maxwith{
    display: flex;
    width: 1040px;
    margin: 0 auto;
    position: relative;
}
header .maxwith div:nth-child(2){
    margin-left: 30px;
}
header .logo,.login{
    cursor: pointer;
}
header .maxwith .login{
    position: absolute;
    right: 0;
}
header a{
    text-decoration: none;
    color: #000;
    padding: 0 6px 12px 6px;
    margin-left: 25px;
}
header a:hover{
    border-bottom: solid 2px #0079FE;
}