section{
    min-height: calc(100% - 106px);
    display: flex;
    width: 1040px;
    margin: 0 auto;
    padding-top: 60px;
}
section .content{
    flex: 1;
    overflow: hidden;
    word-break: break-word;
}
section .sidebar{
    height: 100%;
    width: 200px;
    border-radius: 5px;
    border: solid 1px #e4e4e4;
    margin-right: 20px;
}
section .sidebar .title{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
}
section .sidebar .title .iconArrowTop{
    position: absolute;
    right: 15px;
    transition: all 0.3s ease;
}
section .sidebar .menu{
    transition: all 0.3s ease;
}
section .sidebar .item{
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
}
section .sidebar .item a{
    color: #000;
    text-decoration: none;
}